body{
    background-image: url('./Bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background: rgb(234, 181, 60);
    color: black;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}
span{
    color:rgb(84, 4, 4);
    font-size: 14px;
    display: none;
}
input:invalid[focus='true'] ~ span{
    display: block;
}
input:invalid[focus='true']{
    border: 1px solid red;
}
.btn{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 0);
}
.btn:hover{
    color: red;
}